.app {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.starwars__container {
  margin-top: 1rem;
}
.people__accordion {
  width: 800px;
  margin-bottom: 6rem;
}
.peopledetail {
  display: flex;
  justify-content: space-between;
}
.peopledetail span {
  font-weight: bold;
}
.paginate__buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.peopledetail__filterbtn {
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}
.poepledetail__films__card {
  position: relative;
  min-width: 280px;
  padding-left: 10px;
}
.poepledetail__films__badge {
  position: absolute;
  left: -13px;
  top: 21px;
}
.search__filters {
  margin: 1rem 0;
  cursor: pointer;
  position: absolute;
  top: 2rem;
}
.search__filters__badge {
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.spinner {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
