
.app {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starwars__container {
  width: 800px;
}
.navigation {
  margin: 0;
  background-color: var(--main-bg-color);
  z-index: 10;
  padding-bottom: 10px;
}
.navigation__image-container {
  width: 100;
  display: flex;
  justify-content: center;
}
.navigation img {
  margin: 20px 0;
}
.people__accordion {
  margin-bottom: 6rem;
}
.peopledetail {
  display: flex;
  justify-content: space-between;
}
.peopledetail span {
  font-weight: bold;
}
.paginate__buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.peopledetail__filterbtn {
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}
.poepledetail__films__card {
  position: relative;
  min-width: 280px;
  padding-left: 10px;
}
.poepledetail__films__badge {
  position: absolute;
  left: -13px;
  top: 21px;
}
.poepledetail__films__film {
  cursor: pointer;
}
.poepledetail__films__film:hover {
  color: var(--main-bg-color);
}
.search__filters {
  margin: 1rem 0;
  cursor: pointer;
  position: absolute;
  top: 2rem;
}
.search__filters__badge {
  position: absolute;
  top: -1rem;
  left: 0rem;
  border: 1px solid #101010;
}
.search__filters__chip {
  padding: 0 20px !important ;
}
.search__character__cancel {
  margin-left: 0.5rem !important;
}
.spinner {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
.p-scrolltop {
  background: var(--primary-color) !important;
}
