.app {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.starwars__container {
  margin-top: 4rem;
}
.people__accordion {
  width: 800px;
}
.peopledetail span {
  font-weight: bold;
}
.paginate__buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.peopledetail__filterbtn {
  cursor: pointer;
  margin: 0 10px;
}
.reset__filters {
  margin: 1rem 0;
  cursor: pointer;
  position: absolute;
  top: 2rem;
}
